*, *::after, *::before {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 16px;
    font-weight: 400;
}

input, button, textarea {
    border: 0;
    background-color: transparent;
}

input:focus {
    outline: 0;
}
a {
    text-decoration: none;
    color: black;
}
ul, ol, menu {
    list-style: none;
}
address {
    font-style: normal;
}